.social{   
   margin: 100px;
   padding-left: 520px;
   font-size: 20px;
   padding-top: 200px;   
}

.fab{
    margin-right: 20px;
    
}

.fab:hover{
    color: hsl(345, 95%, 68%);
}

a{
    color: hsl(237, 18%, 59%);
    text-decoration: none;
}
